@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerComp {
  height: 10vh;
  background-color: rgba(211, 211, 211, 0.877);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 9999;
}

.pageLink {
  margin: 20px;
}

.pageLink:hover {
  cursor: pointer;
}

.landingPage,
.aboutPage,
.skillsPage,
.projectsPage,
.contactPage {
  height: 100vh;
  padding-top: 10vh;
}

#tsparticles {
  height: 90vh
}

.landingPage {
  position: relative;
}

.landingText {
  color: #48d1cc;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  text-shadow: 5px 5px #000000
}

.aboutPage {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 10%, rgba(117, 217, 249, 1) 33%, rgba(117, 217, 249, 1) 66%, rgba(247, 247, 247, 1) 90%);
}

.footerComp {
  height: 3vh;
  background-color: rgba(211, 211, 211, 0.877);
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  transition: all .2s ease-in-out;
}

.footerComp:hover {
  height: 10vh;
}