@tailwind base;
@tailwind components;
@tailwind utilities;


 /* Global Styles */
body {
  background-color: rgba(90, 90, 90, 1);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.landingPage,
.aboutPage,
.contactPage,
.projectsPage,
.skillsPage {
  height: 100vh;
  padding-top: 5vh;
}

#tsparticles {
  height: 100vh
}


/* Header Styles */
.headerComp {
  height: 5vh;
  background-color: rgba(90, 90, 90, 0.5);
  position: fixed;
  right: 0;
  left: 0;
  z-index: 9999;
}

.pageLink {
  color: #000000;
  margin: 20px;
  transition: color 0.5s;
  text-shadow: 1px 1px #000000;
}

.pageLink:hover {
  cursor: pointer;
  color :rgb(112, 235, 218)
}


/* Landing Page Styles */
.landingText {
  color: rgb(112, 235, 218);
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  text-shadow: 5px 5px #000000;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}


/* Skill Page Styles */
.skillHeading {
  color: #ffffff;
}

.logoImg {
  height: 10vh
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  list-style-image: url('./assets/images/check-mark.png');
}

li {
  transition: color 0.5s;
  cursor: default;
}

li:hover {
  color: rgb(112, 235, 218);
}


/* About Page Styles */
.aboutPage {
}

.portPic {
  height: auto;
}


/* Footer Styles */
.footerComp {
  height: 4vh;
  background-color: rgba(90, 90, 90, 0.5);
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  transition: all .1s ease-in-out;
}

.footerLink {
  display: none;

}

.footerComp:hover {
  height: 10vh;
}

.footerComp:hover .footerLink{
  display: block;
}


/* Media Query Styles */
@media (max-width: 425px) {
  .headerComp {
    justify-content: center;
  }
  .pageLink {
    font-size: 14px;
    text-align: center;
  }

  .landingText {
    font-size: 38px;
    text-shadow: 2px 2px #000000;
  }

  .aboutHeading {
    font-size: 30px;
    color: #ffffff;
    text-shadow: 2px 2px #000000
  }

  .skillHeading {
    font-size: 30px;
    color: #ffffff;
  }

  .aboutText {
    padding: 0px 10px;
  }

  .portPic {
    width: 50%;
    margin: auto;
  }

  .wordCloud {
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
  }
}


@media (min-width: 425px) {
  .pageLink {
    font-size: 14px;
  }

  .landingText {
    font-size: 48px;
  }
}


@media (min-width: 640px) {
  .pageLink {
    font-size: 20px;
    text-shadow: 1px 1px #000000
  }

  .landingText {
    font-size: 60px;
    text-shadow: 3px 3px #000000
  }

  .aboutHeading {
    font-size: 32px;
    color: #ffffff;
    text-shadow: 3px 3px #000000
  }

  .skillHeading {
    font-size: 32px;
    color: #ffffff;
    text-shadow: 3px 3px #000000
  }

  .aboutText {
    font-size: 16px;
    padding: 0 12px;
  }

  .portPic {
    width: 50%;
    margin: auto;
  }
}

@media (min-width: 768px) {
  .pageLink {
    font-size: 24px;
  }

  .landingText {
    font-size: 72px;
  }

  .aboutHeading,
  .skillHeading {
    font-size: 40px;
  }

  .aboutText {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .landingText {
    font-size: 90px;
  }

  .aboutText{
    font-size: 20px;
    margin: 0px 12px;
  }

  .portPic {
    width: 35%;
    margin-right: 4px;
  }
}

@media (min-width: 1280px) {

}

@media (min-width: 1536px) {
  .aboutText {
    font-size: 24px;
  }

  .portPic {
    width: 30%;
  }

}
