/* 
.linksDiv {}

.aboutLink {
  font-size: 12vmin;
  color: black;
  cursor: pointer;
}

.projectsLink,
.contactLink {
  font-size: 12vmin;
  color: black;
  cursor: pointer;
}

.aboutLink:hover:before {
  color: darkred;
  content: "About Me";
}

.projectsLink:hover:before {
  color: darkred;
  content: "My Projects";
}

.contactLink:hover:before {
  color: darkred;
  content: "Contact Me";
} */
